.post {
  background-color: var(--social-post-background-color);
  font-family: Catamaran, sans-serif;
  color: var(--social-post-foreground-color);
  font-family: 'Helvetica Neue', system-ui, -apple-system, 'Segoe UI', Roboto,
    sans-serif;
  font-weight: normal;
  border-radius: 8px;
  margin: 0px 0px var(--ifm-leading);
}

.post p {
  font-size: 0.9rem;
}

.dark {
  --social-post-background-color: #313543;
  --social-post-foreground-color: white;
  --social-post-username-color: #9baec8;
  --social-post-footer-foreground-color: #787e92;
  --social-post-footer-background-color: #434751;
  --social-post-footer-border-color: #293147;
  --social-post-link-color: #8c8dff;
}

.light {
  --social-post-foreground-color: black;
  --social-post-background-color: white;
  --social-post-username-color: #9a9a9a;
  --social-post-footer-foreground-color: #9a9a9a;
  --social-post-footer-background-color: #f0f0f0;
  --social-post-footer-border-color: #e9e9e9;
  --social-post-link-color: #181bc5;
}

.postWrapper {
  padding: 8px 16px 0px;
}

.post:hover.dark {
  filter: brightness(110%);
}

.post:hover.light {
  filter: brightness(95%);
}

.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
}

.postLogoMastodon {
  color: #6364ff;
  flex-shrink: 0;
}

.postLogoTwitter {
  color: rgb(29, 155, 240);
  flex-shrink: 0;
}

a.postHeaderLink,
a:hover.postHeaderLink {
  text-decoration: none;
}

.postHeader img {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  margin-right: 0px;
}

.postDisplayName {
  font-size: 0.9rem;
  margin-bottom: 2px;
  font-weight: bold;
  color: var(--social-post-foreground-color);
}

.postDisplayName:hover {
  text-decoration: underline;
  color: var(--social-post-foreground-color);
}

.postAvatarText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  flex-grow: 1;
}

.postHeaderAvatar {
  margin-top: 5px;
}

span.postUsername {
  flex-shrink: 1;
  line-height: 0.5;
  font-size: 0.8rem;
  color: var(--social-post-username-color);
}

.postContent {
  margin-top: 16px;
}

.postContent a {
  color: var(--social-post-link-color);
  font-weight: 500;
}

.postContent p {
  margin: 0px;
  padding-bottom: 8px;
}

/* Style the class names that come back from mastodon */

.postContent :global(.invisible) {
  display: none;
}

.postContent :global(.ellipsis::after) {
  content: '…';
}

.postAttachment {
  padding-bottom: 8px;
}

.postFooter {
  border-top: 1px solid var(--social-post-footer-border-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--social-post-footer-background-color);
}

.postFooterContent {
  color: var(--social-post-footer-foreground-color);
  line-height: 18px;
  display: flex;
  flex-direction: row;
  padding: 8px 16px 8px;
}

.postFooterContentGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
}

.postFooterSection {
  display: flex;
  flex-direction: row;
  margin: 0px 8px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
}

.postReblogsIcon {
  color: var(--social-post-footer-foreground-color);
  display: inline-block;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 0.7rem;
}
