.blogPreview {
  display: block;
  background-color: var(--ifm-background-surface-color);
  border-radius: 10px;
  padding: 16px;
  height: 100%;
  width: 100%;
}

.blogPreview article {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.blogPreview article div[itemprop='articleBody'] {
  flex-grow: 1;
}

.blogPreview h2 {
  font-size: 1.75rem;
  margin-top: 4px;
  margin-bottom: 8px;
}

.blogPreview a {
  color: var(--ifm-font-color-base) !important;
}

.blogPreview h3 {
  font-size: 1.25rem;
  margin-top: 4px;
  margin-bottom: 8px;
}

.blogPreview:hover {
  background-color: var(--ifm-footer-background-color);
}

.blogPreview:hover h2 {
  text-decoration: underline;
}
