/* :global(.col--4.github-card-home) { */
/* Github card containers on the home page. */
/* } */

.ghCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--ifm-background-surface-color);
  padding: 12px 18px;
  border-radius: 8px;
  color: var(--ifm-font-color-base);
}

.ghCard:hover,
.ghCard:visited,
.ghCard:link,
.ghCard:active {
  text-decoration: none !important;
  color: var(--ifm-font-color-base);
}

.ghCard:hover {
  background-color: var(--ifm-footer-background-color);
}

.ghCard:hover .headerTitle {
  text-decoration: underline;
}

.ghCard:hover .ghLogo {
  color: var(--ifm-color-primary);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.ghLogo {
  align-self: flex-start;
  margin-top: 4px;
  margin-right: 8px;
}

.headerTitle {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
  /* min-width: 0px; */
  flex-grow: 1;
}

.headerTitle h1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0px;
}

.headerTitle h2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0px;
}

.headerLogo {
  flex-basis: 2.2rem;
  /* min-width: 60px; */
  max-width: 60px;
  flex-grow: 1;
  align-self: stretch;
}

.description {
  opacity: 0.7;
  margin-top: 8px;
  flex-grow: 1;
}

.description:hover {
  text-decoration: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 0px 0px;
}

.footerItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: end;
}

.footerItemLanguages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
}

.symbolAndLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8px;
  line-height: 1rem;
}

.symbolAndLabel .symbol {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
}

.symbolAndLabel .label {
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: 4px;
}

.langColor {
  width: 18px;
  height: 18px;
  margin-bottom: 1px;
  margin-right: 2px;
  background-color: currentcolor;
  border-radius: 100%;
  display: inline-block;
}
