/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0px !important;
  background-color: var(--ifm-background-color);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroContents {
  padding: 3rem 1.5rem;
}

.heroBackground {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;

  background-image: url('/img/game.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heroBackgroundOverlay {
  background-color: var(--ifm-hero-background-overlay-color);
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.heroBackgroundBlur {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  backdrop-filter: blur(4px);
}

.container {
  z-index: 3;
}

.heroImage {
  margin-top: 2em;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.badge {
  text-decoration: none;
  margin: 0 2px;
}

.panelContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.panelContainerContents {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
