:root {
  --discord-background-color: #fffcf7;
}

[data-theme='dark'] {
  --discord-background-color: rgb(75, 60, 57);
}

.discordServer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--discord-background-color);
  border-radius: 6px;
  padding: 16px;
  font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  flex-grow: 1;
  max-width: 418px;
  height: calc(100% - 10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px 5px;
  padding: 24px 16px;
}

.discordServer:hover {
  background-color: var(--ifm-footer-background-color);
}

.discordInviteText {
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  /* color: rgb(185, 187, 190); */
}

.discordInviteBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-grow: 1;
}

.discordInviteDetails {
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.serverImage {
  height: 100px;
}

.discordInviteName {
  margin: 0;
  margin-top: 16px;
  font-size: 2rem;
  /* color: white; */
  text-align: center;
}

.discordInviteVerified {
  color: rgb(114, 137, 218);
  margin-right: 8px;
}

.discordInviteVerifiedTick {
  position: absolute;
}

/* .discordInviteVerifiedTickSvg {
  color: white;
} */

.discordInviteCounts {
  margin: 0;
  margin-top: 8px;
  /* color: rgb(185, 187, 190); */
}

.discordInviteStatusIcon {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 4px;
}

.discordInviteOnlineIcon {
  background-color: rgb(67, 181, 129);
}

.discordInviteOfflineIcon {
  background-color: rgb(116, 127, 141);
}

.discordButtonContainer {
  display: flex;
  align-items: flex-end;
}

.discordInviteJoinButton {
  border-radius: 3px;
  /* background-color: var(--ifm-color-primary); */
  /* color: white !important; */
  text-decoration: none !important;
  margin-top: 16px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

.discordInviteCount {
  font-size: 12px;
  margin-right: 8px;
  flex-shrink: 0;
}
